KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_RAW=crypto.trades.raw
KAFKA_TOPIC_DEAD_LETTER=crypto.trades.dead_letter

BINANCE_WS_URL=wss://stream.binance.com:9443/stream?streams=btcusdt@trade/ethusdt@trade/bnbusdt@trade

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DATABASE=crypto
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=changeme
